<div class="main-section">
   <h2>Get Questionnaire Status</h2>
    <div class="control">
        <div class="label-name">Year Of Report</div>
        <div class="value-part">
            <input [(ngModel)]="yearOfReport" type="number" [min]="minYear" [max]="maxYear" placeholder="Enter year of report..." />
            <div class="info-control">
                <mat-icon class="material-icons info-icon">info</mat-icon>
                <div class="range-text">Range between {{minYear}} - {{maxYear}}</div>
            </div>
        </div>
    </div>

    <div class="control">
        <div class="label-name">Task Id</div>
        <div class="value-part">
            <input [(ngModel)]="taskId" type="text" placeholder="Enter task id..." />
        </div>
    </div>
    <div class="action-buttons">
        <button [disabled]="!checkValidity()" mat-raised-button (click)="onSubmitReports()">Submit</button>
    </div>

    <div class="display-report-section" *ngIf="dataSource.data.length > 0">
        <mat-table #table [dataSource]="dataSource">

            <ng-container matColumnDef="taskId">
              <mat-header-cell *matHeaderCellDef> Task Id </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.taskId}} </mat-cell>
            </ng-container>
        
            <ng-container matColumnDef="status">
              <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.status}} </mat-cell>
            </ng-container>
        
            <ng-container matColumnDef="createdAt">
              <mat-header-cell *matHeaderCellDef> Created At </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.createdAt}} </mat-cell>
            </ng-container>
        
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
    </div>
</div>